body {
	background: grey;
}
p {
	font-size: 30px;
	text-align: center;
	color: white;
}
div.title {
  	background-color: black;
  	margin-left: 10%;
  	margin-right: 10%;
  	border-radius: 3px;
  	height: 40px;
  	padding: 3px;
  	font-size: 30px;
  	flex-direction: column;
  	text-align: center;
 	border-width: 5px;
	color: white;
	font-family: arial;
	white-space: normal;
  	overflow: hidden;

}
div.textboxtitle {
  	background-color: black;
  	margin-left: 10%;
  	margin-right: 10%;
  	border-radius: 3px;
  	height: 70px;
  	padding: 3px;
  	font-size: 20px;
  	flex-direction: column;
  	text-align: center;
 	border-width: 5px;
	color: white;
	font-family: arial;
	white-space: normal;
  	overflow: hidden;

}
h1.header {
	font-style: normal;
	font-size: 68px;
	font-family: Anton;
  	color: white;
}
div.category {
	background-color: silver;
	margin-left: 10%;
  	margin-right: 10%;
  	border-radius: 3px;
  	text-align: left;
 	padding: 5px;
  	font-size: 30px;
  	flex-direction: column;
  	font-family: arial;
  	overflow: hidden;
}
div.textbox {
	background-color: silver;
	margin-left: 10%;
  	margin-right: 10%;
  	border-radius: 3px;
  	text-align: center;
 	padding: 5px;
  	font-size: 20px;
  	flex-direction: column;
  	font-family: arial;
  	overflow: hidden;
}
h1.thinredborder {
	border-color: #C10020;
	border-width: 8px;
	border-style: solid;
	border-radius: 10%;
}
.logo {
	width: 120px;
	border-width: 10px;
	border-color: #000000;
	border-style: solid;
	border-radius: 50%;
}
